<div class="page-wrapper">

  <div class="page-header">
    <h1 class="page-title">Customers</h1>
    
    
    <%= link_to "New Customer", new_customer_path, class: "btn btn-primary" %>
  </div>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <div class="card-grid">
    <% @customers.each do |customer| %>
      <div class="customer-card <%= 'inactive-card' unless customer.is_active %>">

        <div>
          <div class="card-header">
            <h3 class="customer-name"><%= customer.name %></h3>

            <span class="status <%= customer.is_active ? 'active' : 'inactive' %>">
              <%= customer.is_active ? "Active" : "Inactive" %>
            </span>
            <span class="avatar">
              <% if customer.avatar.attached? %>
                <%= image_tag customer.avatar, alt: "Avatar", size:"100x100" %>
              <% else %>
                <p>No avatar</p>
              <% end %>
            </span>
          </div>

          <p class="customer-email"><%= customer.email %></p>
        </div>

        <div class="card-actions">
          <%= link_to "Show", customer, class: "btn btn-primary" %>
          <%= link_to "Edit", edit_customer_path(customer), class: "btn btn-edit" %>
          <%= link_to "Delete", customer,
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "btn btn-danger" %>
        </div>

      </div>
    <% end %>
  </div>

</div>
