<div class="page-wrapper">

  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <div class="detail-card">

    <%= render @customer %>

    <div class="actions">
      <%= link_to "Edit", edit_customer_path(@customer), class: "btn edit" %>
      <%= link_to "Back", customers_path, class: "btn back" %>
      <%= button_to "Delete", @customer, method: :delete, class: "btn delete" %>
    </div>

  </div>

</div>
