<h1>New Order</h1>

    <%= form_with model: @order do |f| %>
      <div>
        <%= f.label :details %>
        <%= f.text_field :details %>
      </div>

      <div>   
        <%= f.label :count %>
        <%= f.number_field :count %>
      </div>

      <%= f.submit %>
    <% end %>