<div class="page-wrapper">
  <h1 class="page-title">Products</h1>

  <%= link_to "New Product", new_product_path, class: "btn btn-primary" %>
  
    </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Actions</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td>₹ <%= product.price %></td>
          <td><%= product.stock %></td>
          
          <td>
            <%= link_to "Show", product, class: "btn btn-primary" %>
            <%= link_to "Edit", edit_product_path(product), class: "btn btn-edit" %>
            <%= link_to "Delete", product, method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "btn btn-danger" %>
          </td>
          <td><%= product.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

